.container{
  height: 100vh;
  position: relative;
}
.app-background{
  background-image: url('./assets/mountains-bg.jpg');
  background-position:top;
  background: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.container-glass{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;

  display: flex;
}

.current-location{
  flex: 4;
  /*padding: 1rem;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: relative;
}
.title{
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 0.75rem;
}
.timezone-info{
  position: absolute;
  bottom: 20%;
  left: 5%;
  text-shadow: 2px 2px 4px #000000;
}
.temp-current{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: .5rem;
}
.loc-current{
  font-size: 2rem;
  font-weight: 600;
}


.search-box{
  flex: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  /*padding: 1rem;*/

  position: relative;
}

.search-bar{
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;

  font-size: 1.5rem;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  color: white;
}
.search-bar:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.input-location{
  text-align: center;
  margin: 1rem;
  text-shadow: 2px 2px 4px #000000;

}

.location{
  /*padding: 1rem 0;*/
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 1px solid gray;
  height: 4rem;
}

.weather-details div{
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 768px){
  .timezone-info{
    position: absolute;
    bottom: 15%;
    left: 5%;
    text-shadow: 2px 2px 4px #000000;
  }
  .location{
    font-size: 1.75rem;
    border-bottom: none;
  }

  .weather-details{
    margin-top: 0.5rem;
    font-size: .85rem;
    border-top: 1px solid gray;
  }
}

@media screen and (max-width: 425px){
  .current-location{
    display: none;
  }
}