@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fira Sans', sans-serif;
  color: white;
  overflow: none;
  background-color: white;
}

